<html>
<body>
<div class="header">
    <div class="photo">
        <img src="C:\ ../image/profile.jpeg" alt="photo">
    </div>
    <div class="name">
        <h1>NITHISH KUMAR S</h1>
        <h2>B.E ECE</h2>
        <h3>ADHIYAMAAN COLLEGE OF ENGINEERING,HOSUR</h3>
        <div style="display: flex;justify-content: center;">
            <a href="https://github.com/THANATOS297">
                <img src="https://img.icons8.com/material-sharp/24/000000/github.png" alt="github">
            </a>
            <a href="https://www.linkedin.com/in/nithish-kumar-s-99a182225/">
                <img src="https://img.icons8.com/color/30/000000/linkedin.png" alt="linkedin"/>
            </a>
            
        </div>
    </div>
</div>
<div class="content">
    <p>Hi I am Nithish Kumar S,<br><br>
    <ul>
        <li> I am Currently pursuing Bachelors degree in Electronics And Communication Engineering at <strong>Adhiyamaan College of Engineering</strong></li>
        <li> And I Completed My HSE Studies in <strong>Vailankanni Matric Hr Sec School </strong></li>
        <li> And I Did My SSLC in <strong>Vailankanni Matric Hr Sec School</strong>
        </li>
       
</div>
<form action = "/uploader" method = "POST" enctype ="multipart/form-data">
<input type = "file" name = "file" />
<input type = "submit"/>
</form>
</body>
</html>
